ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

li {
  float: left;
  text-align: center;
  margin-left: 500px;
}

a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

a:hover {
  background-color: #111;
}
