<div class ="minimise">
<ul>


  <li>  <h1 *ngIf="rot.loginForms || rot.loginForm"  > login </h1></li>
  <li>  <h1 *ngIf="rot.search " > search</h1></li>
  <li>  <h1 *ngIf="rot.subscribe" > subscribe </h1></li>
  <li>  <h1 *ngIf= "rot.set " > settings</h1></li>
  <li> <h1 *ngIf= "rot.item " > items  </h1> <button *ngIf= "rot.item "  class="btn btn-info" routerLink="/addItem" (click)="sub()"> add item </button> </li>
  <li> <h1 *ngIf= "rot.acount" > acount </h1></li>
  <li> <h1 *ngIf= "rot.con" > contact  </h1></li>


</ul>
<hr>
</div>
